<div class="p-3">
    <h3 class="ff-cursive">PROJECTS</h3>
    <div class="projects-container">
      <div class="row flex-nowrap">
        <div *ngFor="let project of projects" class="col-md-6 d-flex align-items-stretch">
          <div class="card bg-dark mb-3 h-100" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
            <div class="card-body border border-1">
              <div class="d-flex justify-content-between">
                <h5 class="card-title text-info">{{ project.title }}</h5>
                <a [href]="project.link" class="card-link text-primary">LINK</a>
              </div>
              <p class="card-text text-warning">{{ project.techUsed }}</p>
              <ul class="text-light">
                <li *ngFor="let detail of project.details">{{ detail }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="text-warning">
  </div>
  