<div class="p-3">
    <h3 class=" ff-cursive">PROJECTS</h3>
    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="card bg-dark mb-3 h-100" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
                <div class="card-body border border-1">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title text-info">WeMeet-Lets Connect</h5>
                        <a href="LINK" class="card-link text-primary">LINK</a>
                    </div>
                    <p class="card-text text-warning">HTML5, Node.js, Express.js, CSS3, WebRTC, Socket.io</p>
                    <ul class="text-light">
                        <li>It’s a web app combining Omegle and Google Meet features, using HTML5, CSS3, JavaScript, WebRTC, and Socket.io, aiming to improve user experience and communication.</li>
                        <li>The platform offers users the flexibility to host individual meetings and connect with random individuals. Users can choose between text and video calls, improving communication efficiency by 20%.</li>
                        <li>Added flexible meeting option, peer-to-peer video call and chat functionality with the capability to connect with strangers. Added a recording feature for better user experience, leading to a 15% increase in user satisfaction.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="card bg-dark mb-3 h-100" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
                <div class="card-body border border-1">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title text-info">Budget Tracker</h5>
                        <a href="LINK" class="card-link text-primary">LINK</a>
                    </div>
                    <p class="card-text text-warning">Angular, Bootstrap, PrimeNG</p>
                    <ul class="text-light">
                        <li>Developed a financial management app that helps users track expenses and stay on budget, resulting in significant monthly savings.</li>
                        <li>Utilized session storage to maintain user login if the application/tab is open, and designed an intuitive user interface for easy expense entry and budget tracking.</li>
                        <li>Implemented robust data visualization and real-time updates to help users understand spending habits and enhance overall functionality.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
