<header class="d-flex justify-content-between gap-3 bg-dark border-bottom border-3">
    <p class="fs-14 fw-bold hover-pointer m-3 text-warning" (click)="selected('home')">🏠HOME</p>
   
    <ul class="d-flex gap-4 text-white m-3 list-unstyled">
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('internship')">Internships</li>
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('project')">Projects</li>
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('achievement')">Achievements</li>
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('skill')">Skills</li>
    </ul>
</header>

<div #home id="home">
    <app-home></app-home>
</div>
<div #internship id="internship">
    <app-internships></app-internships>
</div>
<div #project id="project">
    <app-projects></app-projects>
</div>
<div #achievement id="achievement">
    <app-acheivements></app-acheivements>
</div>
<div #skill id="skill">
    <app-skills></app-skills>
</div>