<div class="d-flex justify-content-between gap-3 bg-dark border-bottom border-3">
    <p class="fs-14 fw-bold hover-pointer m-3 text-warning" (click)="selected('home')">🏠HOME</p>
   
    <ul class="d-flex gap-4 text-white m-3 list-unstyled">
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('Internships')">Internships</li>
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('Projects')">Projects</li>
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('Achievements')">Achievements</li>
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('Skills')">Skills</li>
        <li class="fs-14 fw-semibold hover-pointer" (click)="selected('Contact')">Contact</li>
    </ul>
</div>

<!-- <ng-container *ngIf="activeIndex === 'home'">
    <app-home></app-home>
</ng-container> -->
<app-home></app-home>
<app-internships></app-internships>
<app-projects></app-projects>
<app-acheivements></app-acheivements>
<app-skills></app-skills>
<app-contact-me></app-contact-me>




<ng-container *ngIf="activeIndex === 'Internships'">
    <app-internships></app-internships>
</ng-container>
<ng-container *ngIf="activeIndex === 'Projects'">
    <app-projects></app-projects>
</ng-container>
<ng-container *ngIf="activeIndex === 'Achievements'">
    <app-acheivements></app-acheivements>
</ng-container>
<ng-container *ngIf="activeIndex === 'Skills'">
    <app-skills></app-skills>
</ng-container>
<ng-container *ngIf="activeIndex === 'Contact'">
    <app-contact-me></app-contact-me>
</ng-container>
