<div class="p-3">
    <h3 class="ff-cursive">INTERNSHIPS</h3>
    <div class="card bg-dark mb-3" *ngFor="let internship of internships">
      <div class="card-body border border-1">
        <div class="d-flex justify-content-between">
          <h5 class="card-title text-info">{{ internship.title }}</h5>
          <p class="card-text text-warning">{{ internship.period }}</p>
        </div>
        <ul class="text-light">
          <li *ngFor="let detail of internship.details">{{ detail }}</li>
        </ul>
      </div>
    </div>
    <hr class="text-warning">
  </div>
  