<div class="p-3">
    <h3 class=" ff-cursive">INTERNSHIPS</h3>
    <div class="card bg-dark mb-3">
        <div class="card-body border border-1">
            <div class="d-flex justify-content-between">
            <h5 class="card-title text-info">Full-Stack Developer Intern | ProQsmart | Bengaluru</h5>
            <p class="card-text text-warning">August 2024 – Ongoing</p>
            </div>
            <ul class="text-light">
                <li>Engaged in a startup environment, contributing to various development, discussions, and decision-making processes.</li>
                <li>Part of a team that formulated a website using Angular12, Bootstrap, StoryBook, PrimeNg, NgRx, RxJS improving user engagement.</li>
                <li>Integrated multiple APIs, performed testing, and debugging, utilized Git and GitHub for version control, UI/UX, facilitated continuous deployment, keeping constant communication with seniors, resulting in a 20% reduction in deployment time.</li>
            </ul>
        </div>
    </div>
    <div class="card bg-dark mb-3">
        <div class="card-body border border-1">
            <div class="d-flex justify-content-between">
            <h5 class="card-title text-info">Front-End Developer Intern | Dhruvathara Foundation | Bengaluru</h5>
            <p class="card-text text-warning">March 2024 – June 2024</p>
            </div>
            <ul class="text-light">
                <li>Created and managed Angular Storybook for improved component reusability and understanding.</li>
                <li>Executed comprehensive unit testing on 12 Angular components, achieving a 95% success rate in meeting predefined customer requirements, the enhancements contributed to a significant reduction in user-reported issues.</li>
                <li>Built and maintained Angular components, adding features based on customer requirements.</li>
                <li>Collaborated to determine user requirements and specifications, improving the application’s alignment with user needs by 25%. Wrote technical documentation, improving team efficiency by 10%.</li>
            </ul>
        </div>
    </div>
    <div class="card bg-dark mb-3">
        <div class="card-body border border-1">
            <div class="d-flex justify-content-between">
            <h5 class="card-title text-info">Research Intern | IIIT Sri City | Remote</h5>
            <p class="card-text text-warning">July 2023 – November 2023</p>
            </div>
            <ul class="text-light">
                <li>Optimized 3D modelling workflows by implementing cutting-edge scanning techniques and edge reconstructive, while enhancing model quality and realism.</li>
                <li>Conducted research on various other 3D model construction, technologies and methods used. Worked with the team of professionals to gain insights and share knowledge, which increased team productivity by 30%.</li>
            </ul>
        </div>
    </div>
    <div class="card bg-dark mb-3">
        <div class="card-body border border-1">
            <div class="d-flex justify-content-between">
            <h5 class="card-title text-info">Research Intern | Indian Knowledge Systems | Dharwad</h5>
            <p class="card-text text-warning">July 2022 – September 2022</p>
        </div>
            <ul class="text-light">
                <li>Contributed to a pioneering research team under Central Government exploring the interplay of Tridosha with human traits, contributing to a 70% increase in understanding of the subject.</li>
                <li>Employed a multi-dimensional approach for comprehensive data collection, improving data accuracy by 30%.</li>
                <li>Developed strong teamwork skills while gaining hands-on experience in cutting-edge research methods and holistic wellness analysis, leading to a 15% improvement in team productivity and a 35% increase in personal skill development.</li>
            </ul>
        </div>
    </div>
    <hr class="text-warning">
</div>


