<div class="p-3">
    <h3 class=" ff-cursive">ACHIEVEMENTS</h3>
    <div class="card bg-dark mb-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
        <div class="card-body border border-1">
            <ul class="text-light">
                <li>Authored a paper on 3D-Modelling which was published in Institute of Electrical and Electronics Engineers (IEEE 2023) and Micro-blog recommendation system which was published in 15th World Congress on Nature and Biologically Inspired Computing (NaBIC 2023).</li>
                <li>Served as a NCC Junior Under Officer for 1 year and cleared NCC A and B certificate.</li>
            </ul>
        </div>
    </div>
    <hr class="text-warning">
</div>
