<div class="p-2">
    <h3 class=" ff-cursive">ACHIEVEMENTS</h3>
    <div class="card bg-dark mb-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
        <div class="card-body border border-1">
            <div *ngFor="let achievement of achievements" class ="text-light">
                <p class="fs-14 fw-semibold text-info">{{achievement.title}}</p>
            <ul class="text-light">
                
                <li *ngFor="let details of achievement.details">{{details}}</li>
            </ul>
        </div>
    </div>
    </div>
    <hr class="text-warning">
</div>
