/* You can add global styles to this file, and also import other style files */
.hover-pointer{
    cursor: pointer;
}

.ff-cursive{
    font-family:cursive;
    color: #ccf381;
}

.h-100vh{
  height: 100vh;
}

.w-3vw{
  width:3vw
}


html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }