<div class="pt-2">
    <header class="d-flex justify-content-between mx-5 align-items-center">
        <p class="fs-1 fw-medium text-primary border px-3">Amruth Mandappa T S</p>
        <p type="button" class="">Menu</p>
    </header>
    <div class="d-flex justify-content-around mt-5 py-5">
    <div class="w-50">
        <h1 class="font-style-pos">Software </h1>
        <h1 class="font-style-pos"> Developer.</h1>
        <p class="text-white border mt-3"><span class="bg-primary border">I transform ideas into seamless user experiences, creating scalable and impactful solutions that drive innovation and delight users.</span></p>
        
    </div>
    <div>
        <img class="h-50vh" src="profile.jpeg" alt="Profile">
    </div>
</div>
</div>
