<div class="pt-2">
    <header class="d-flex justify-content-between mx-5 align-items-center">
        <p class="fs-1 fw-medium text-info border px-3 border-success border-2 font-style-pos">Amruth Mandappa T S</p>
        <div class="border border-2 border-warning d-flex gap-4 mt-3 p-1 social-media">
            <a [href]="github" target="_blank">
                <img class="w-3vw" src="github.png" alt="GitHub">
            </a>
            <a [href]="linkedin" target="_blank">
                <img class="w-3vw" src="linkedin.png" alt="LinkedIn">
            </a>
            <a [href]="instagram" target="_blank">
                <img class="w-3vw" src="insta.png" alt="Instagram">
            </a>
            <a [href]="twitter" target="_blank">
                <img class="w-3vw" src="twitter.png" alt="Twitter">
            </a>
        </div>    </header>
    <div class="d-flex justify-content-around mt-4 py-5">
        <div class="w-50 border p-4">
            <h1 class="font-style-pos">Software </h1>
            <h1 class="font-style-pos"> Developer.</h1>
            <p class="text-white border mt-3">
                <span class="p-1">
                   A passionate and innovative software developer with a strong foundation in computer science. Skilled in Python, C++, and JavaScript, I excel in creating sophisticated solutions to complex challenges. My projects and internships have prepared me to thrive in agile, collaborative environments. Eager to join a dynamic team, I am committed to continuous learning and leveraging technology for impactful results.
                </span>
            </p>
        </div>
        
        <div>
            <img class="h-50vh border p-3" src="profile.jpeg" alt="Profile">
        </div>
    </div>
    <div class="d-flex justify-content-center p-4">
        <div class="border border-2 border-success d-flex gap-3 p-3">
        
        <h5 class="text-info">amruth.coder56&#64;gmail.com</h5>
        <h5 class="text-light">8050781338</h5>
    </div>

    </div>
</div>
<hr class="text-warning">
