<div class="p-3">
    <h3 class=" ff-cursive">SKILLS</h3>
    <div class="card bg-dark mb-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
        <div class="card-body border border-1">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-light"><strong class="text-warning">Key Courses:</strong> Data Structures and Algorithm (DSA), Computer Networks (CN), Operating Systems (OS), Relational Database Management System (RDBMS), Object Oriented Programming (OOP)</li>
                <li class="list-group-item text-light"><strong class="text-warning">Languages:</strong> C++, JavaScript (ES6), HTML, CSS, Python, TypeScript</li>
                <li class="list-group-item bg-dark text-light"><strong class="text-warning">Frameworks and Libraries:</strong> Angular, Node.js, Express.js, Tailwind CSS, Bootstrap, Mongoose, Storybook</li>
                <li class="list-group-item text-light"><strong class="text-warning">Databases:</strong> MySQL, MongoDB</li>
                <li class="list-group-item bg-dark text-light"><strong class="text-warning">Tools and Platforms:</strong> Relational Database, AWS, Visual Studio Code, Git, GitHub, GitHub Desktop, KScan 3D</li>
                <li class="list-group-item text-light"><strong class="text-warning">Additional Skills:</strong> Strong analytical, Interpersonal communication, and Collaborative teamwork</li>
            </ul>
        </div>
    </div>
</div>
